/* Base */
.paper {
  padding: 8px;

  background: #ffffff;
  color: #000000;
  border-color: #dedede;

  &.dark {
    background: #2c2c2c;
    color: #ffffff;
    border-color: #484848;
  }
}

/* Shadows */
.shadow-xs {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.03), 0 1px 1px -1px rgba(0, 0, 0, 0.02);
}
.shadow-sm {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05), 0 1px 2px -1px rgba(0, 0, 0, 0.04);
}
.shadow-md {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.07), 0 2px 4px -2px rgba(0, 0, 0, 0.06);
}
.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.08), 0 4px 6px -4px rgba(0, 0, 0, 0.06);
}

/* Radius */
.radius-xs {
  border-radius: 2px;
}
.radius-sm {
  border-radius: 4px;
}
.radius-md {
  border-radius: 8px;
}
.radius-lg {
  border-radius: 16px;
}

/* Border */
.border {
  border-width: 1px;
  border-style: solid;
}
