.indexCell {
  color: var(--mantine-color-dimmed);
}

.indexHeader {
  color: var(--mantine-color-dimmed);
}

.floatingActionGroup {
  position: absolute;
  right: var(--mantine-spacing-sm);
  bottom: var(--mantine-spacing-sm);
}
