.root {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 8px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  align-items: center;

  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translateX(-50%);

  transition: opacity 200ms ease;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
