.root {
  position: absolute;
  left: var(--mantine-spacing-sm);
  top: var(--mantine-spacing-sm);
  width: 300px;
}

.dropdown {
  max-height: 200px;
  overflow-y: auto;
}

@container main-container (max-width: 576px) {
  .root {
    width: auto;
    right: var(--mantine-spacing-sm);
  }
}
